 @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;1,300&display=swap');

body{
   background-color: rgb(125, 122, 119);
}

    

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Josefin Sans', sans-serif;

}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 62px;
    background-color: rgb(15, 8, 21);
    color: azure;
}

nav ul li{
    padding: 0 12px;
}

.brand img{
    width: 150px;
}
.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;

}

.container{
    min-height: 80vh;
    background-color: black;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg4.jpg');

}
.bottom{
    position: sticky;
    height: 100px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
.icons{
    margin-top: 12px;
}
.icons i{
    cursor: pointer;

}

#myProgressBar{
    width: 90vw;
    cursor: pointer;

    
}

.songItemContainer{
    margin-top: 74px;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: grey;
    width: 80%;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;


}

.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
}

.timestamp{
    margin: 0 23px;

}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 10vh;
    font-family: 'Josefin Sans', sans-serif;

}

.songInfo img{
    opacity: 0;
    transition: opacity 0.1s ease-in;
}